In [4]:
#Q1
def unique(nums1,nums2,nums3):
  common = []

  for num in nums1:
    if num in nums2 and num in nums3:
      common.append(num)

  return common

# Example usage:
nums1 = [1, 2, 3, 4, 5]
nums2 = [2, 3, 5, 7]
nums3 = [3, 4, 5, 8]

result = unique(nums1, nums2, nums3)
print(result)

[3, 5]

In [16]:
#Q2
def unique(nums1,nums2):
  answer=[[],[]]
  for num in nums1:
    if num not in nums2:
      answer[0].append(num)
  for num in nums2:
    if num not in nums1:
      answer[1].append(num)
  return answer

nums1 = [1,2,3]
nums2 = [2,4,6]
print(unique(nums1,nums2))

[[1, 3], [4, 6]]

In [12]:
#Q3
def transpose(matrix):
    rows = len(matrix)
    columns = len(matrix[0])

    # Swap elements in-place
    for i in range(rows):
        for j in range(i+1, columns):
            matrix[i][j], matrix[j][i] = matrix[j][i], matrix[i][j]

    return matrix

# Example usage:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
result = transpose(matrix)
print(result)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [19]:
#Q4
def arrayPairSum(nums):
    nums.sort()  # Sort the input array in ascending order
    result = 0

    # Pair up consecutive elements and sum the minimum values
    for i in range(0, len(nums), 2):
        result += nums[i]

    return result

# Example usage:
nums = [1, 4, 7, 9, 8, 5]
result = arrayPairSum(nums)
print(result)

14

In [18]:
#Q5
def count_complete_rows(n):
    complete_rows = 0
    coins = n

    for i in range(1, n+1):
        coins -= i
        if coins >= 0:
            complete_rows += 1
        else:
            break

    return complete_rows

n = 10
result = count_complete_rows(n)
print(result)

4

In [20]:
#Q6
def square(i):
  return i*i

nums = [-4,-1,0,3,10]
res=[]
for i in nums:
  res.append(square(i))

res.sort()
print(res)

[0, 1, 9, 16, 100]

In [22]:
#Q7
def maxCount(m: int, n: int, ops: list[list[int]]) -> int:
    if not ops:
        return m * n

    min_row = float('inf')
    min_col = float('inf')

    for op in ops:
        min_row = min(min_row, op[0])
        min_col = min(min_col, op[1])

    return min_row * min_col

# Example usage:
m = 3
n = 3
ops = [[2, 2], [3, 3]]
result = maxCount(m, n, ops)
print(result)

4

In [27]:
#Q8
def pair(nums,n):
  lst=[]
  res=[]
  for i in range(n):
    res.append(nums[i])
    res.append(nums[i+n])

  return res

nums = [2,5,1,3,4,7]
n = 3
print(pair(nums,n))

[2, 3, 5, 4, 1, 7]